---
title: High Frequency Raiders
layout: layout
page_classes: dnd
---

<% story = data.hfr.story.sort_by! { |b| b["date"] } %>
<% pcs = data.hfr.pcs %>
<% npcs = data.hfr.npcs %>

<h2>Episodes</h2>

<div class="session">
  <dl class="toc">
  <% story.each_with_index do |session, i| %>
    <dt class="date"><%= session.date %></dt>
    <dd>
      <span class="title">
        <a href="#session-<%= i %>">
          <%= session.title %>
        </a>
      </span>
    </dd>
  <% end %>
  <dl>
</div>

<h2>Sessions</h2>
<% story.each_with_index do |session, i| %>
    <div class="session" id="session-<%= i %>">
        <h3><%= i + 1 %>. <%= session.title %></h2>
        <h4><%= session.date %></h4>
        <div class="clear"></div>

        <div class="summary">
            <%= markdown session.summary %>
        </div>
    </div>
<% end %>

<h2>Player Characters</h2>
<dl>
    <% pcs.each do |char| %>
        <dt id="<%= char.link %>"><%= char.name %></dt>
        <dd><%= char.details %></dd>
    <% end %>
</dl>

<h2>Non Player Characters</h2>
<dl>
    <% npcs.each do |char| %>
        <dt id="<%= char.link %>"><%= char.name %></dt>
        <dd><%= markdown char.details %></dd>
    <% end %>
</dl>
