---
title: Reading List
layout: layout
page_classes: books
---

<h1>Reading List</h1>
<% data.books.books.each do |book| %>
    <div class="book">
        <div class="cover">
            <img src="https://images-na.ssl-images-amazon.com/images/P/<%= book.asin %>.01.LZZZZZZZ.jpg" alt="<%= "#{book.title} - #{book.author}" %>"></img>
        </div>
        <h2><%= book.title %> - <%= book.author %></h2>
        <h3 class="finished-on">Finished on <%= book.date %></h3>

        <div class="review">
            <%= markdown book.review %>
        </div>

        <div class="clearfix"></div>
    </div>
<% end %>
