---
title: Reading List
layout: layout
page_classes: books
---

<h1>Reading List</h1>

<% books = data.books.books.sort_by! { |b| b["date"] }.reverse! %>

<table class="books">
    <tbody>
        <% books.each do |book| %>
            <tr class="book">
                <td class="cover">
                    <img src="https://images-na.ssl-images-amazon.com/images/P/<%= book.asin %>.01.LZZZZZZZ.jpg" alt="<%= "#{book.title} - #{book.author}" %>"></img>
                </td>
                <td class="title">
                    <div class="top-title"><%= book.title %></div>
                    <div class="author"><%= book.author %></div>
                </td>
                <td class="review">
                    <h5><%= book.date %></h5>
                    <div>
                        <%= markdown book.review %>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
