---
title: Shitty Book Club
layout: layout
page_classes: books
---

<h2>Shitty Book Club</h2>

<% meets = data.sbc.meetings.sort_by! { |b| b["date"] }.reverse! %>

<div>
    <h3>What is Shitty Book Club?</h3>

    <p>
    "Shitty Book Club" is a forum in which friends from around the world
    celebrate "terrible" literature. This can be anything from poorly written,
    whimsical absurdity, horrible racism, cringy displays of sex or horrible
    contrived plot.
    </p>

    <p>
    Most of the time a book is "all of the above"
    </p>
</div>

<div>
    <h3>When is the next Shitty Book Club?</h3>

    <p>
    We don't have a fixed schedule. We rotate who chooses the next book each
    session and that person is responsible for scheduling a call. We usually
    have a video call for about and hour to review each book. The video call is
    organised on Google Hangouts.
    </p>

    <h4>Next book club meeting...</h4>
    <div class="bookclub">
        <div class="up-next">
            <table>
                <thead>
                    <tr>
                        <th>2019-12-15</th>
                        <th></th>
                        <th class="invite">
                            <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NmtjODRmc24yY2ZxN2FiN2ttZ2FrMTU4dmcgc2FtQGlmZG93bi5uZXQ&tmsrc=sam%40ifdown.net"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cover"><img src="https://images-na.ssl-images-amazon.com/images/P/B00513DGES.01.LZZZZZZZ.jpg" alt="The Eye of Argon"></img></td>
                        <td class="title-author">
                            <div class="title">The Crystal Star: Star Wars Legends</div>
                            <div class="author">Vonda McIntyre</div>
                        </td>
                        <td class="desc">
                          <p>
                          Princess Leia's children have been kidnapped. Along
                          with Chewbacca and Artoo-Detoo, she follows the
                          kidnappers' trail to a disabled refugee ship, from
                          which children are also missing. Here she learns of a
                          powerful Imperial officer with a twisted plan to
                          restore the Empire. Meanwhile, Han Solo and Luke
                          Skywalker are cut off from Leia by the death of a
                          nearby star, which has caused a disruption in the
                          Force. They have gone to the planet Crseih to
                          investigate a report of a lost group of Jedi. Instead
                          they find a charismatic alien named Waru whose
                          miraculous healing powers have attracted a fanatic
                          following. As Leia follows the path of her children
                          across space, Luke and Han draw closer to the truth
                          behind Waru's sinister cult. Together they will face
                          an explosive showdown that will decide the survival
                          of the New Republic . . . and the universe itself!
                          </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h3>Shitty Book Club Meetings Archive</h3>

<table class="bookclub">
    <tbody>
        <% meets.each do |meetup| %>
            <tr class="meetup">
                <td class="books">
                    <table>
                        <tbody>
                            <% meetup.books.each do |book| %>
                                <tr class="book">
                                    <% if book.cover %>
                                      <td class="cover"><img src="<%= book.cover %>" alt="<%= "#{book.title} - #{book.author}" %>"></img></td>
                                    <% else %>
                                      <td class="cover"><img src="https://images-na.ssl-images-amazon.com/images/P/<%= book.asin %>.01.LZZZZZZZ.jpg" alt="<%= "#{book.title} - #{book.author}" %>"></img></td>
                                    <% end %>
                                    <td>
                                        <div class="title"><%= book.title %></div>
                                        <div class="author"><%= book.author%></div>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </td>
                <td class="attendees">
                    <ul>
                        <% meetup.attendees.each do |person| %>
                            <li><%= person %></li>
                        <% end %>
                    </ul>
                </td>
                <td class="date">
                    <%= meetup.date %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
