---
title: Shitty Book Club
layout: layout
page_classes: books
---

<h2>Shitty Book Club</h2>

<% meets = data.sbc.meetings.sort_by! { |b| b["date"] }.reverse! %>

<div>
    <h3>What is Shitty Book Club?</h3>

    <p>
    "Shitty Book Club" is a forum in which friends from around the world
    celebrate "terrible" literature. This can be anything from poorly written,
    whimsical absurdity, horrible racism, cringy displays of sex or horrible
    contrived plot.
    </p>

    <p>
    Most of the time a book is "all of the above"
    </p>
</div>

<div>
    <h3>When is the next Shitty Book Club?</h3>

    <p>
    We don't have a fixed schedule. We rotate who chooses the next book each
    session and that person is responsible for scheduling a call. We usually
    have a video call for about and hour to review each book. The video call is
    organised on Google Hangouts.
    </p>

    <h4>Next book club meeting...</h4>
    <div class="bookclub">
        <div class="up-next">
            <table>
                <thead>
                    <tr>
                        <th>2019-03-24</th>
                        <th></th>
                        <th class="invite">
                            <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MzdzZzlzYzg3Zmw0Z2o2OGlzMDE2dDVybXUgc2FtQGlmZG93bi5uZXQ&amp;tmsrc=sam%40ifdown.net"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cover"><img src="https://images-na.ssl-images-amazon.com/images/I/51HoEZ0HXFL._SX326_BO1,204,203,200_.jpg" alt="Bored of the Rings - Harvard Lampoon"></img></td>
                        <td class="title-author">
                            <div class="title">Bored of the Rings</div>
                            <div class="author">Harvard Lampoon</div>
                        </td>
                        <td class="desc">
                          A quest, a war, a ring that would be grounds for
                          calling any wedding off, a king without a kingdom,
                          and a little, furry "hero" named Frito, ready - or
                          maybe just forced by the wizard of Goodgulf - to
                          undertake the one mission which can save Lower Middle
                          Earth from enslavement by the evil Sorhed...Luscious
                          Elfmaidens, a roller-skating dragon, ugly plants that
                          can soul-kiss the unwary to death - these are just
                          some of the ingredients in the wildest, wackiest,
                          most irreverent excursion into fantasy realms that
                          anyone has ever dared to undertake.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h3>Shitty Book Club Meetings Archive</h3>

<table class="bookclub">
    <tbody>
        <% meets.each do |meetup| %>
            <tr class="meetup">
                <td class="books">
                    <table>
                        <tbody>
                            <% meetup.books.each do |book| %>
                                <tr class="book">
                                    <% if book.cover %>
                                      <td class="cover"><img src="<%= book.cover %>" alt="<%= "#{book.title} - #{book.author}" %>"></img></td>
                                    <% else %>
                                      <td class="cover"><img src="https://images-na.ssl-images-amazon.com/images/P/<%= book.asin %>.01.LZZZZZZZ.jpg" alt="<%= "#{book.title} - #{book.author}" %>"></img></td>
                                    <% end %>
                                    <td>
                                        <div class="title"><%= book.title %></div>
                                        <div class="author"><%= book.author%></div>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </td>
                <td class="attendees">
                    <ul>
                        <% meetup.attendees.each do |person| %>
                            <li><%= person %></li>
                        <% end %>
                    </ul>
                </td>
                <td class="date">
                    <%= meetup.date %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
